.page-wrapper {
 margin: 0 auto;
}

.textarea {
  display: block;
  width: 700px;
  height: 200px;
  margin: 10px auto;
  padding: 10px;
}

.keyboard {
  width: 710px;
  margin: 10px auto;
  padding: 5px;
  background: #888;
  border: 3px solid #222;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
}

.keyboard .key {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: #444;
  margin-left: 6px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
.caseDown,
.caseUp,
.shiftCaps,
.caps {
  display:block;
  width:100;
}
/* .key:hover {
  background: #9e9c9c;
  border-radius: 10px;
} */

.keyboard .key.active {
  background: #cecccc;
  border-radius: 20px;
}

.Tab {
  width: 50px;
}

.Backspace,
.CapsLock,
.ShiftLeft {
  width: 100px;
}

.Delete {
  width: 44px;
}
.Tab {
  width: 50px;
}
.Enter,
.ShiftRight {
  width: 86px;
}

.Space {
  width: 330px;
}

.hidden {
  display: none;
}

.description,
.language {
  text-align: center;
}